/*Se trata del código de las primeras clases*/
/* .contenedor{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 20px;
}
.item{
    border: 5px solid #00bcd4;
    font-size: 4rem;
} */

.contenedor{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
}
.item{
    font-size: 4rem;
}
.item-1{
    /* border: 5px solid #f8bbd0; */
    background-color: #ccee3a;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column-start: 1;
    grid-column-end: 2;
}
.item-2{
    /* border: 5px solid #e1bee7; */
    background-color: #71bb05;
    /* grid-row: 2 / 4; */
    grid-column-start: 2;
    grid-column-end: 4;
}
.item-3{
    /* border: 5px solid #b2ebf2; */
    background-color: #268201;
    /* grid-area: 2 / 2 / 4 / 4; */
    
}

